/* Write your CSS code here */
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 80px;
}

.cart-img {
  width: 300px;
}
